*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* HEADER / menu */

body{
    background-color: #2c2d32;
}
h1{
    color: white;
    font-size: 50px;
    font-family: 'roboto';
    text-transform: uppercase;
}
li, a, p{
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 18px;
    color: #898989;
    text-decoration: none;
}

p{
    font-size: 30px;
}

header{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    right: 0;
    top: 0%;
    height: 70px;
    justify-content:flex-end;
    align-items: center;
    padding: 10px 10%;
    background-color: rgba(0,0,0,0.5);
}

.logo{
    color: white;
    margin-right: auto;
}

.nav-list{
    list-style: none;
}

.nav-list li{
    display: inline-block;
    padding: 0 20px 
    
}

.nav-list li a {
    transition: .2s;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.nav-list li a:hover {
    color: white;
    border-bottom: 1px solid white;
    
}

.cnt {
    margin-left: 100px;
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 50px;
    transition: 0.2s;
}

.cnt:hover {
    background-color: white;
    color: black;
}

/* Sekcja estate */

.estate{
    height: 100vh;
    margin-top: 100px;
}
.ad{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
h1{
width: 100%;
text-align: center;
margin:50px 0;
}
.estate img{
    height: 400px;
    margin-left: 50px;
}
.estate p{
    width: 1000px;
    height: 400px;
    margin-right: 50px;
    font-size: 24px;
    color: white;
}

/* SEKCJA KONTAKT */

.contact{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: rgba(0,0,0,0.5);
}

.map{
    margin: 0 100px;

}

.dane{
    margin: 0 100px;
}

.dane img {
    height: 24px;
}

.dane p i{
    margin-right: 20px;
}
.dane p {
    font-family: 'Roboto', serif;
    font-weight: 100;
    color: white;
}
.dane p:nth-child(1) {
    text-align: center;
}


footer{
    text-align: center;
    height: 25px;
    background-color:#2c2d32;
}

footer p{
    color: white;
    font-size: 12px;
    line-height: 30px;
}

