*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* HEADER / menu */

body{
    background-color: #2c2d32;
}
h1{
    color: white;
    font-size: 50px;
    font-family: 'roboto';
    text-transform: uppercase;
}
li, a, p{
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 18px;
    color: #898989;
    text-decoration: none;
}

p{
    font-size: 30px;
}

header{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    right: 0;
    top: 0%;
    height: 70px;
    justify-content:flex-end;
    align-items: center;
    padding: 10px 10%;
    background-color: rgba(0,0,0,0.5);
}

.logo{
    color: white;
    margin-right: auto;
    font-family: 'Roboto Slab', serif;
}

.nav-list{
    list-style: none;
}

.nav-list li{
    display: inline-block;
    padding: 0 20px 
    
}

.nav-list li a {
    transition: .2s;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.nav-list li a:hover {
    color: white;
    border-bottom: 1px solid white;
    
}

.cnt {
    margin-left: 100px;
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 50px;
    transition: 0.2s;
}

.cnt:hover {
    background-color: white;
    color: black;
}

/* STRONA GLOWNA */

.main-page{
    background-color: #2c2d32;
    height: 100vh;
}

.container{
    font-family: 'Roboto', serif;
    text-align: center;
    position: relative;
    background-image: url("../images/pexels-ekaterina-bolovtsova-6077797.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.container::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
    
}

.container h1{
    top: 50px;
    left: 50px;
    font-family: 'Roboto Slab', serif;
}

.container h2{
    color: white;
    font-size: 45px;
    font-family: 'Roboto Slab', serif;
}
.container h3{
    color: white;
    font-size: 18px;
}

.main-page-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* O KANCELARII */

.about{
    width: 1600px;
    margin: 0 auto;
    height: 100vh;
}
.about{
    width: 1600px;
    margin: 0 auto;
}
.about h1{
    
    margin-top: 100px;
    padding-bottom:40px ;
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: 'Roboto';
}

.about p{
    color:white;
}

/* SEKCJA OFFERTA */

.offer{
    height: 80vh;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.offer h1{
    display: block;
    width: 1600px;
    
}

.offer-box{
    height: 500px;
    width: 500px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50px;
    
}

.offer-box h2{
    font-size: 32px;
    color: white;
    font-family: 'Roboto', serif;
    text-transform: uppercase;
    margin:30px 0;
    
}

.offer-box p{
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

/* SEKCJA KONTAKT */

.contact{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: rgba(0,0,0,0.5);
}

.map{
    margin: 0 100px;

}

.dane{
    margin: 0 100px;
}

.dane img {
    height: 24px;
}

.dane p i{
    margin-right: 20px;
}
.dane p {
    font-family: 'Roboto', serif;
    font-weight: 100;
    color: white;
    font-size: 20px;
    margin: 10px 0;
}
.dane p:nth-child(1) {
    text-align: center;
}


footer{
    text-align: center;
    height: 25px;
    background-color:#2c2d32;
}

footer p{
    color: white;
    font-size: 12px;
    line-height: 30px;
}

